
.strike-through{
    text-decoration: line-through;
}

 .table-style{ 
    background-color: white;
 } 
table{
    border-collapse: collapse;
    border: 2px solid black;
    margin: 30px;
    padding: 20px;
}

th, td{
    border: 1px solid #000000;
   padding: 10px 20px;
}

th{
    font-size: 20px;
    background-color: #fcf5c7;
}
td{
    text-align: center;
}



tr{
    vertical-align: text-top;
    
}
 

.morning-style{
    text-decoration: underline;
    background-color: #ffb4a2;
}
.evening-style{
    text-decoration: underline;
    background-color: #ABC8C0;
}

.hide-day{
    visibility: hidden;
}

.complete-button-style{
    color: white; /* Text color */
 
    background-color: #978273; 
     
    border: 2px solid white; /* Border thickness, line style, and color */
     
    border-radius: 7px; /* Adds curve to border corners */
     
    padding: 5px;
}

/* Mobile styling */
@media all and (max-width: 800px) {
    body {
      display: flex;
      flex-direction: column;
      
    }
table{
    display: flex;
    flex-direction: column;
}
td, th{
    display: flex;
    flex-direction: column;
}
.hide-day{
    visibility: visible;
}
  
  }
  
