.header-style {
  margin: 40px;
}

h1{
    margin: 20px;
    padding: 20px;
    text-align: center;
}

main{
  background: rgb(41, 81, 133, 0.95);
  margin: 30px;
  padding: 30px;
  color: black;
  border: 2px solid white;
}

.navigation-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  background-color: #978273;
  opacity: 75%;
  padding: 25px;
  border: 2px solid white;
  font-size: large;
  color: black;
}

footer {
  /* bottom: 0px; */
  height: 50px;
  left: 0px;
  right: 0px;
  /* overflow: hidden; */
  text-align: center;
  background-color: #c9c9cf;
  padding-top: 15px;
}

/* Mobile styling */
@media all and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .navigation-style {
    display: flex;
    flex-direction: column;

}
}

