.favorites-style{
    line-height: 1.5;
    background-color: rgb(226, 235, 241, 0.75);
    left: 40px;
    right: 40px;
}

.add-product-form{
    background-color:  rgb(41, 81, 133);
    margin: 30px;
    padding: 30px;
    color: white;
    /* border: 2px solid white; */
}
.ol-product-list{
    margin: 20px;
}
h2{
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

main{
    background: rgb(41, 81, 133, 0.95);
    margin: 30px;
    padding: 30px;
    color: black;
    border: 2px solid white;
}

.add-product-button{
   
    color: white; /* Text color */
 
    background-color: #978273; 
     
    border: 2px solid white; /* Border thickness, line style, and color */
     
    border-radius: 7px; /* Adds curve to border corners */
     
    padding: 5px;
    
}

.add-product-form{
    
}